<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Manage Leave Requests</h2>
<table>
    <thead>
        <tr>
            <th>Employee</th>
            <th>Reason</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>approved</th>
            
        </tr>
    </thead>
    <tbody>
        {% for request in leave_requests %}
        <tr>
            <td>{{ request.employee.name}}</td>
            <td>{{ request.reason }}</td>
            <td>{{ request.start_date }}</td>
            <td>{{ request.end_date }}</td>
            <td>{{ request.approved }}</td>
            <td>
                <a href="{% url 'Approve_Leave_Request' request.pk %}">Approve</a>
                <a href="{% url 'Reject_Leave_Request' request.pk %}">Reject</a>
               
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>